.iconSize-80 {
  height: 80px;
  min-height: 80px;
  min-width: 80px;
  width: 80px;
}

.iconSize-76 {
  height: 76px;
  min-height: 76px;
  min-width: 76px;
  width: 76px;
}

.iconSize-68 {
  height: 68px;
  min-height: 68px;
  min-width: 68px;
  width: 68px;
}

.iconSize-64 {
  height: 64px;
  min-height: 64px;
  min-width: 64px;
  width: 64px;
}

.iconSize-60 {
  height: 60px;
  min-height: 60px;
  min-width: 60px;
  width: 60px;
}

.iconSize-52 {
  height: 52px;
  min-height: 52px;
  min-width: 52px;
  width: 52px;
}

.iconSize-50 {
  height: 50px;
  min-height: 50px;
  min-width: 50px;
  width: 50px;
}

.iconSize-48 {
  height: 48px;
  min-height: 48px;
  min-width: 48px;
  width: 48px;
}

.iconSize-40 {
  height: 40px;
  min-height: 40px;
  min-width: 40px;
  width: 40px;
}

.iconSize-32 {
  height: 32px;
  min-height: 32px;
  min-width: 32px;
  width: 32px;
}

.iconSize-24 {
  height: 24px;
  min-height: 24px;
  min-width: 24px;
  width: 24px;
}

.iconSize-20 {
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  width: 20px;
}

.iconSize-16 {
  height: 16px;
  min-height: 16px;
  min-width: 16px;
  width: 16px;
}

.iconSize-12 {
  height: 12px;
  min-height: 12px;
  min-width: 12px;
  width: 12px;
}

.iconSize-8 {
  height: 8px;
  min-height: 8px;
  min-width: 8px;
  width: 8px;
}
